{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% extends 'base-login.html.twig' %}

{% block title %}Login | Portal de Mediciones{% endblock %}

{% block body %}

    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-4 wizard d-flex flex-column flex-lg-row flex-column-fluid">
            <!--begin::Content-->
            <div class="login-container order-2 order-lg-1 d-flex flex-center flex-row-fluid px-7 pt-lg-0 pb-lg-0 pt-4 pb-6 bg-white">
                <!--begin::Wrapper-->
                <div class="login-content d-flex flex-column pt-lg-0 pt-12">
                    <!--begin::Logo-->
                    <a href="#" class="login-logo pb-xl-20 pb-15">
                        <img src="{{ asset('img/LOGO-RED_NEGRO.png') }}" class="max-h-70px" alt="" />
                    </a>
                    <!--end::Logo-->
                    <!--begin::Signin-->
                    <div class="login-form">
                        <!--begin::Form-->
                        <form class="form" action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            <div class="form-group has-feedback" style="display:flex;align-items:center">
                                <input class="form-control"
                                    id="username"
                                    name="_username"
                                    placeholder="{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}"
                                    required="required"
                                    type="text"
                                    value="{{ last_username }}"/>
                                <span class="fas fa-user form-control-feedback" style="margin-left:10px"></span>
                            </div>

                            <div class="form-group has-feedback" style="display:flex;align-items:center">
                                <input class="form-control"
                                    id="password"
                                    name="_password"
                                    placeholder="{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}"
                                    required="required"
                                    type="password"/>
                                <span class="fas fa-lock form-control-feedback" style="margin-left:10px"></span>
                            </div>

                            <div class="row" style="justify-content:space-between">
                                <div class="col-xs-8">
                                    <div class="checkbox mx-4">
                                        <label>
                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                            {{ 'security.login.remember_me'|trans({}, 'SonataUserBundle') }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans({}, 'SonataUserBundle') }}</button>
                                </div>
                            </div>
                        </form>

                        <a href="{{ reset_route }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
                        <!--end::Form-->
                        
                    </div>
                    <!--end::Signin-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--begin::Content-->
            <!--begin::Aside-->
            <div class="login-aside order-1 order-lg-2 bgi-no-repeat bgi-position-x-right">
                <div class="login-conteiner bgi-no-repeat" style="background-size:cover;background-image: url({{ asset('img/imagen_login.png') }});">
                    <!--begin::Aside title-->
                    
                    <!--end::Aside title-->
                </div>
            </div>
            <!--end::Aside-->
        </div>
        <!--end::Login-->
    </div>
    <!--end::Main-->

{% endblock %}