{% extends 'base.html.twig' %}

{% block title %}Home | Mediciones{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
        <div class="section" style="background-image:url('{{asset('img/WEB_INDICE SICA-11.png')}}')">
            <div class="container">
                <div class="row mt-20 mb-20">
                    <div class="col-lg-6 col-sm-12 my-4 ">
                        <h1 class="title-inicio">Mediciones Red Ciudadana</h1>
                        <p class="texto-inicio">
                            <strong>El Índice de Innovación Pública</strong> mide las capacidades que
                            poseen las instituciones para generar nuevas o mejoradas
                            ideas, procesos, productos o servicios que, mediante la
                            co-creación entre diferentes actores, impacten positivamente
                            en las necesidades y expectativas de las personas para la
                            <strong>transformación de la gestión pública.</strong>
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12 my-4">
                        <img src="{{asset('img/WEB_INDICE SICA-09.png')}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="section" style="background-color:#fff">
            <div class="container">
                <div class="row mt-20 mb-20">
                    
                    <div class="col-lg-4 col-sm-12 my-4">
                        <div class="cuadro-inicio">
                            <a href=""><div class="imagen-cuadro">
                                <img  src="{{asset('img/WEB_INDICE SICA-10.png')}}">
                            </div></a>
                            <h5 style="font-weight:600">Índice de Datos Abiertos SICA</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 my-4">
                        <div class="cuadro-inicio">
                            <a href=""><div class="imagen-cuadro">
                                <img  src="{{asset('img/WEB_INDICE SICA-10.png')}}">
                            </div></a>
                            <h5 style="font-weight:600">Índice de Datos Abiertos Sector Justicia</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 my-4">
                        <div class="cuadro-inicio">
                            <a href=""><div class="imagen-cuadro">
                                <img  src="{{asset('img/WEB_INDICE SICA-10.png')}}">
                            </div></a>
                            <h5 style="font-weight:600">Índice de Justicia Abierta</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 my-4">
                        <div class="cuadro-inicio">
                            <a href=""><div class="imagen-cuadro">
                                <img  src="{{asset('img/WEB_INDICE SICA-10.png')}}">
                            </div></a>
                            <h5 style="font-weight:600">Índice de Gobierno Digital</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 my-4">
                        <div class="cuadro-inicio">
                            <a href=""><div class="imagen-cuadro">
                                <img  src="{{asset('img/WEB_INDICE SICA-10.png')}}">
                            </div></a>
                            <h5 style="font-weight:600">Índice de Madurez Digital Municipal</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 my-4">
                        <div class="cuadro-inicio">
                            <a href=""><div class="imagen-cuadro">
                                <img  src="{{asset('img/WEB_INDICE SICA-10.png')}}">
                            </div></a>
                            <h5 style="font-weight:600">Índice de AIP</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 my-4">
                        <div class="cuadro-inicio">
                            <a href=""><div class="imagen-cuadro">
                                <img  src="{{asset('img/WEB_INDICE SICA-10.png')}}">
                            </div></a>
                            <h5 style="font-weight:600">Índice de Datos Abiertos Guatemala</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 my-4">
                        <div class="cuadro-inicio">
                            <a href=""><div class="imagen-cuadro">
                                <img  src="{{asset('img/WEB_INDICE SICA-10.png')}}">
                            </div></a>
                            <h5 style="font-weight:600">Índice de Juntas Electorales</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 my-4">
                        <div class="cuadro-inicio">
                            <a href=""><div class="imagen-cuadro">
                                <img  src="{{asset('img/WEB_INDICE SICA-10.png')}}">
                            </div></a>
                            <h5 style="font-weight:600">Índice de Partidos Públicos</h5>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
{% endblock %}
